In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("D:\Python Preparatory\QUIZ\decision tree\Pokemon.csv")

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [4]:
for i in df:
    df[i] = le.fit_transform(df[i])

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x = df.iloc[0:,1:12].values

In [7]:
y = df.iloc[:,12].values

In [8]:
x_train, x_test , y_train , y_test = train_test_split(x,y, train_size = 0.7 , random_state = 1 )

In [9]:
from sklearn.tree import DecisionTreeRegressor
dtreg = DecisionTreeRegressor()
dtreg.fit(x_train, y_train)

DecisionTreeRegressor()

In [10]:
y_pred = dtreg.predict(x_test)
y_pred = pd.DataFrame(y_pred)

In [11]:
from sklearn import metrics 
from sklearn.metrics import r2_score ,confusion_matrix , accuracy_score , classification_report

In [12]:
accuracy_score(y_test,y_pred)

0.9333333333333333

In [13]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.97      0.96       219
           1       0.63      0.57      0.60        21

    accuracy                           0.93       240
   macro avg       0.80      0.77      0.78       240
weighted avg       0.93      0.93      0.93       240

In [14]:
confusion_matrix(y_test,y_pred)

array([[212,   7],
       [  9,  12]], dtype=int64)

In [15]:
r2_score(y_test, y_pred)

0.16503587736464453

In [16]:
y_pred.value_counts()

0.0    221
1.0     19
dtype: int64

In [17]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.97      0.96       219
           1       0.63      0.57      0.60        21

    accuracy                           0.93       240
   macro avg       0.80      0.77      0.78       240
weighted avg       0.93      0.93      0.93       240

In [18]:
cf = confusion_matrix(y_test,y_pred)
tp = cf[0][0]
fn = cf[0][1]
fp = cf[1][0]
tn = cf[1][1]
sensitivity= tp/(tp+fn)
print(sensitivity)

0.9680365296803652

In [20]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,80,9,13,57,17,24,23,41,37,24,0,0
1,1,329,9,13,94,31,37,37,55,50,38,0,0
2,2,745,9,13,165,51,57,55,71,66,58,0,0
3,2,746,9,13,188,51,73,86,86,77,58,0,0
4,3,102,6,18,51,11,27,18,36,22,43,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,718,160,15,4,184,21,73,96,71,87,29,5,1
796,718,161,15,4,196,21,104,76,99,73,85,5,1
797,719,314,14,8,184,51,82,34,96,83,48,5,1
798,719,315,14,1,195,51,104,34,101,83,58,5,1
799,720,756,6,17,184,51,82,83,90,59,48,5,1

1 - 165 - A
2 - 3(230) - C
3 - D - none
4 - D - none
5 -  decisiontree - C
6 - 0.96 - A
7 - 0.96 - A
8 - A
9 - A
10- B
11 - D
12 - A
13 - C